In [4]:
ds_MRT_20120319=pd.read_csv('Data 20120319.csv',header=0,names=['JourneyID','CardID','PsgType','TraMode','SrvcNum','Bus_Reg_Num','Direction','Boarding_STOP_STN',
                                                       'Alighting_STOP_STN','StartDate','StartTime','Distance','RideTime','TransNum'])

In [5]:
ds_MRT_20120319.head(20)

,JourneyID,CardID,PsgType,TraMode,SrvcNum,Bus_Reg_Num,Direction,Boarding_STOP_STN,Alighting_STOP_STN,StartDate,StartTime,Distance,RideTime,TransNum
0,104347264470,2000084766310800,Child/Student,RTS,\N,\N,\N,STN Segar,STN Bukit Panjang,19/03/2012,16:55:29.000000,1.900,8.250,0
1,104337460089,2000040823741000,Child/Student,RTS,\N,\N,\N,STN Pasir Ris,STN Bedok,19/03/2012,07:00:54.000000,8.200,17.800,1
2,104348478341,2000110340160800,Child/Student,RTS,\N,\N,\N,STN Yew Tee,STN Choa Chu Kang,19/03/2012,16:39:06.000000,1.400,3.250,0
3,104350771884,2000016576131000,Child/Student,Bus,26,1,8370,80101,60229,19/03/2012,18:48:49.000000,2.100,8.017,1
4,104351959102,2000088565810800,Child/Student,Bus,961,1,156,41079,10139,19/03/2012,15:15:26.000000,6.800,19.533,0
5,104347364329,2000072167180800,Child/Student,RTS,\N,\N,\N,STN Yishun,STN Choa Chu Kang,19/03/2012,07:28:13.000000,16.000,26.083,0
6,104344452279,2000072761190800,Child/Student,Bus,171,1,51,59009,59111,19/03/2012,16:49:45.000000,1.200,5.033,0
7,104336773003,2000102795490800,Child/Student,Bus,66,0,6070,42029,40049,19/03/2012,16:13:04.000000,6.000,17.067,0
8,104334688213,2000010532541000,Child/Student,Bus,101,1,6095,66009,NaN,19/03/2012,13:35:39.000000,\N,\N,0
9,104337056371,2000041088141000,Child/Student,Bus,187,0,562,43499,44131,19/03/2012,14:20:57.000000,2.500,7.533,0
10,104351961874,2000137330830800,Child/Student,Bus,222,1,6061,84359,84221,19/03/2012,16:19:23.000000,0.500,1.633,0
11,104334965299,2000102323320800,Child/Student,RTS,\N,\N,\N,STN Serangoon,STN Bartley,19/03/2012,06:46:24.000000,1.300,7.067,0
12,104342976721,2000021432051000,Child/Student,Bus,178,0,809,21199,43179,19/03/2012,06:57:19.000000,9.700,30.183,0
13,104337752387,2000007949631000,Child/Student,Bus,811,1,1149,59189,59189,19/03/2012,21:23:58.000000,0.100,11.450,0
14,104347645352,2000041720101000,Child/Student,Bus,135,1,2689,70241,70051,19/03/2012,17:11:41.000000,1.400,7.117,0
15,104339462293,2000086008410800,Child/Student,Bus,195,1,822,13089,14291,19/03/2012,16:18:12.000000,4.600,17.383,0
16,104350961427,2000054867690800,Child/Student,RTS,\N,\N,\N,STN Ang Mo Kio,STN Novena,19/03/2012,16:01:50.000000,5.900,13.050,0
17,104338276196,1991006890681100,Child/Student,Bus,169,1,1228,54221,54009,19/03/2012,15:11:13.000000,1.300,5.950,0
18,104346957185,2000083500930800,Child/Student,RTS,\N,\N,\N,STN Clementi,STN Pioneer,19/03/2012,21:24:52.000000,9.100,16.817,0
19,104339262287,2000084039480800,Child/Student,Bus,157,0,8936,28519,52361,19/03/2012,05:45:55.000000,19.000,49.850,0

In [6]:
# Statistic analysis
print('Records Number:',ds_MRT_20120319.shape[0])
# Calcute the number for transferring
print('Total transferring in the day:\n',ds_MRT_20120319['TransNum'].value_counts())
# Calculate the number for RTS and Bus
print('RTS Usage:',np.sum(ds_MRT_20120319['TraMode']=='RTS'),'Bus Usage:',np.sum(ds_MRT_20120319['TraMode']=='Bus'))
# How many indentical users
print('Number of identical users:',ds_MRT_20120319['CardID'].drop_duplicates().shape[0])
# How many journeys
print('Number of identical journeys:',ds_MRT_20120319['JourneyID'].drop_duplicates().shape[0])
# How many identical transMode users (considering every transMode user always has transNum 1)
transMode_idx=ds_MRT_20120319['TransNum']==1
print('Number of identical transMode users:',ds_MRT_20120319['CardID'][transMode_idx].drop_duplicates().shape[0])
# How many stops after removing duplicates
stops=ds_MRT_20120319['Boarding_STOP_STN'].append(ds_MRT_20120319['Alighting_STOP_STN'])                                        
print('Total stops number after removing duplicates:',stops.drop_duplicates().shape[0])

Records Number: 5473155
Total transferring in the day:
 0    3963655
1    1286773
2     200295
3      19403
4       2648
5        381
Name: TransNum, dtype: int64
RTS Usage: 2084169 Bus Usage: 3388986
Number of identical users: 1937057
Number of identical journeys: 3967543
Number of identical transMode users: 867115
Total stops number after removing duplicates: 4682

In [3]:
ds_MRT_jn_20120319=pd.read_csv('F:\\JupyterNotebookDir\\RideDataDiscovery\\data_processed\\20120319 Data_Merging.csv')

E:\Anaconda3_5\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13,15,16,17,18,19,20,21,25,26,27,28,29,30,31,32,33,37,38,39,40,41,42,43,44,45,49,50,51,52,53,54,55,56,57,61,62,63,64,65,66,67,68,69,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyboardInterrupt:

In [7]:
## For pre-processing stage, maybe we should eliminate the outliers
# For inproper distance & ride-time, use cluster to clean them?

# Journeys with too many transferring number

# Calculate the endtime for journey

# Map the number of stops into the longitude and latitude to construct a matrix for trajectory detection, WHERE IS THE MAPPING TABLE?