# Description
This script aims to re-implement the idea of Zhong, C., Batty, M., Manley, E., Wang, J., Wang, Z., Chen, F., & Schmitt, G. (2016). Variability in regularity: Mining temporal mobility patterns in London, Singapore and Beijing using smart-card data. PloS one, 11(2), e0149222.

## Generate temporal interactions between stations

In [97]:
import numpy as np
import pandas as pd
import csv
import time,datetime
from matplotlib import pyplot as plt
from tqdm import tqdm_notebook
import pickle
from sklearn.externals import joblib
%matplotlib inline

In [42]:
# Loading all the dataï¼Œ returned with a textfile parser
ds_0319_parser=pd.read_csv('data_processed/20120319 Data1.csv',low_memory=False, iterator=True)
ds_0320_parser=pd.read_csv('data_processed/20120320 Data1.csv',low_memory=False, iterator=True)
ds_0321_parser=pd.read_csv('data_processed/20120321 Data1.csv',low_memory=False, iterator=True)
ds_0322_parser=pd.read_csv('data_processed/20120322 Data1.csv',low_memory=False, iterator=True)
ds_0323_parser=pd.read_csv('data_processed/20120323 Data1.csv',low_memory=False, iterator=True)
ds_0324_parser=pd.read_csv('data_processed/20120324 Data1.csv',low_memory=False, iterator=True)
ds_0325_parser=pd.read_csv('data_processed/20120325 Data1.csv',low_memory=False, iterator=True)

In [23]:
chunk_test=ds_0319_parser.get_chunk(1000)
print(chunk_test.describe())
print(chunk_test.head())

         journey_id       card_id  riding_distance  riding_time   transfer
count  1.000000e+01  1.000000e+01        10.000000    10.000000  10.000000
mean   1.043456e+11  2.000069e+15         2.780000     9.545000   0.400000
std    6.411305e+06  3.476435e+10         2.636412     6.820121   0.699206
min    1.043365e+11  2.000011e+15         0.400000     1.267000   0.000000
25%    1.043399e+11  2.000045e+15         0.925000     5.020750   0.000000
50%    1.043475e+11  2.000077e+15         1.650000     7.308000   0.000000
75%    1.043497e+11  2.000084e+15         4.475000    14.425250   0.750000
max    1.043561e+11  2.000137e+15         7.400000    22.817000   2.000000
        journey_id           card_id passenger_type mode bus_line direction  \
2000  104350282865  2000072392450800  Child/Student  Bus   965            1
2001  104351775555  2000010612941000  Child/Student  Bus   76             1
2002  104347778573  2000042149691000  Child/Student  Bus   187            0
2003  104338949946  2000087810180800  Child/Student  Bus   103            1
2004  104336466105  2000136984140800  Child/Student  Bus   74             1

     bus_reg boarding_stop alighting_stop riding_date  \
2000     448         59261          46289  19/03/2012
2001    8363         55141          55189  19/03/2012
2002     516         46521          46009  19/03/2012
2003     936         67051          64109  19/03/2012
2004    9396         64051          54269  19/03/2012

                boarding_time  riding_distance  riding_time  transfer  \
2000  2012-03-19 12:45:00.000              5.3       15.383         1
2001  2012-03-19 17:57:19.000              0.9        4.750         0
2002  2012-03-19 13:41:57.000              1.5        6.633         0
2003  2012-03-19 13:57:49.000              2.0        7.983         0
2004  2012-03-19 17:21:17.000              6.7       22.817         0

            riding_time_convert           alighting_time     day
2000  0 days 00:15:22.980000000  2012-03-19 13:00:22.980  Monday
2001  0 days 00:04:45.000000000  2012-03-19 18:02:04.000  Monday
2002  0 days 00:06:37.980000000  2012-03-19 13:48:34.980  Monday
2003  0 days 00:07:58.980000000  2012-03-19 14:05:47.980  Monday
2004  0 days 00:22:49.020000000  2012-03-19 17:44:06.020  Monday

In [44]:
stops1=ds_0319['boarding_stop'].append(ds_0319['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops1.drop_duplicates().shape[0])
stops2=ds_0320['boarding_stop'].append(ds_0320['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops2.drop_duplicates().shape[0])
stops3=ds_0321['boarding_stop'].append(ds_0321['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops3.drop_duplicates().shape[0])
stops4=ds_0322['boarding_stop'].append(ds_0322['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops4.drop_duplicates().shape[0])
stops5=ds_0323['boarding_stop'].append(ds_0323['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops5.drop_duplicates().shape[0])
stops6=ds_0324['boarding_stop'].append(ds_0324['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops6.drop_duplicates().shape[0])
stops7=ds_0325['boarding_stop'].append(ds_0325['alighting_stop'])                                        
print('Total stops number after removing duplicates:',stops7.drop_duplicates().shape[0])
stops=stops1.append([stops2,stops3,stops4,stops5,stops6,stops7])
idx=stops.duplicated()
stops=stops[~idx]
print('Total stops in 7days:',stops.shape[0])
del stops1,stops2,stops3,stops4,stops5,stops6,stops7,idx

Total stops number after removing duplicates: 4679
Total stops number after removing duplicates: 4683
Total stops number after removing duplicates: 4681
Total stops number after removing duplicates: 4684
Total stops number after removing duplicates: 4686
Total stops number after removing duplicates: 4702
Total stops number after removing duplicates: 4604
Total stops in 7days: 4735

In [52]:
# We need to map the stations into a different number
stops_dict={}
counter=1
for stop in tqdm_notebook(stops):
    stops_dict[stop]=counter
    counter+=1

In [67]:
# Write dict to csv
with open('StopsDict.csv','w',newline='') as file:
    writer=csv.writer(file)
    for i in stops_dict.items():
        writer.writerow(i)

In [18]:
# Load the dict we generate and number the value to sations
stops_dict_csv=pd.read_csv('StopsDict.csv')
stops_dict=dict()
i=0
for i in range(len(stops_dict_csv)):
    stops_dict.setdefault(stops_dict_csv['Stops'][i],stops_dict_csv['Number'][i])
del stops_dict_csv

In [19]:
stops_dict

{'STN Ang Mo Kio': 1,
 'STN Segar': 2,
 'STN Pasir Ris': 3,
 'STN Yew Tee': 4,
 '80101': 5,
 '41079': 6,
 'STN Yishun': 7,
 '59009': 8,
 '42029': 9,
 '43499': 10,
 '84359': 11,
 'STN Serangoon': 12,
 '21199': 13,
 '70241': 14,
 '13089': 15,
 '54221': 16,
 'STN Clementi': 17,
 '28519': 18,
 '45421': 19,
 '67219': 20,
 '52509': 21,
 '41041': 22,
 '59089': 23,
 '64031': 24,
 '53389': 25,
 '43341': 26,
 '12129': 27,
 '76399': 28,
 'STN Sembawang': 29,
 '66059': 30,
 '64619': 31,
 '84349': 32,
 '19089': 33,
 'STN Bartley': 34,
 '62071': 35,
 '27361': 36,
 '14199': 37,
 'STN Admiralty': 38,
 '44201': 39,
 '46461': 40,
 '20299': 41,
 '46391': 42,
 '1329': 43,
 '66009': 44,
 '53051': 45,
 '46071': 46,
 '72069': 47,
 '22009': 48,
 '21619': 49,
 '70221': 50,
 '45321': 51,
 '51071': 52,
 '27391': 53,
 '65161': 54,
 '76059': 55,
 '54439': 56,
 '44009': 57,
 '28329': 58,
 '84039': 59,
 '28281': 60,
 '60159': 61,
 'STN Outram Park': 62,
 '46129': 63,
 '43349': 64,
 '10009': 65,
 '43701': 66,
 '18111': 67,
 '70301': 68,
 '81209': 69,
 '54059': 70,
 'STN Lavender': 71,
 '42299': 72,
 '52451': 73,
 '17079': 74,
 '98019': 75,
 '17179': 76,
 '55159': 77,
 '63051': 78,
 '52179': 79,
 '70039': 80,
 '14291': 81,
 '59281': 82,
 '67441': 83,
 '44531': 84,
 '28441': 85,
 '11031': 86,
 '21599': 87,
 '17009': 88,
 '54011': 89,
 '54181': 90,
 '54389': 91,
 '52009': 92,
 '84021': 93,
 '28491': 94,
 '76231': 95,
 '84511': 96,
 'STN Somerset': 97,
 'STN Potong Pasir': 98,
 '65261': 99,
 '75339': 100,
 '46669': 101,
 '64059': 102,
 '54281': 103,
 '21711': 104,
 '21699': 105,
 '20179': 106,
 'STN Hougang': 107,
 '67449': 108,
 '78071': 109,
 '75329': 110,
 '9022': 111,
 '44281': 112,
 '66389': 113,
 '43659': 114,
 '67369': 115,
 '40011': 116,
 '81181': 117,
 '60069': 118,
 '44239': 119,
 '67131': 120,
 '64369': 121,
 '66319': 122,
 '50161': 123,
 '92271': 124,
 '59201': 125,
 'STN Aljunied': 126,
 '43709': 127,
 '76081': 128,
 '75349': 129,
 '54589': 130,
 '27131': 131,
 '59129': 132,
 'STN Pioneer': 133,
 '65159': 134,
 '67121': 135,
 '60089': 136,
 '20291': 137,
 '76141': 138,
 '45009': 139,
 '21429': 140,
 '84501': 141,
 '22349': 142,
 '63301': 143,
 '63309': 144,
 '53059': 145,
 '84471': 146,
 'STN Toa Payoh': 147,
 '52209': 148,
 '77009': 149,
 '40231': 150,
 '51059': 151,
 '64421': 152,
 '76181': 153,
 '53279': 154,
 '27309': 155,
 '46651': 156,
 '52329': 157,
 '64021': 158,
 '10519': 159,
 '11499': 160,
 '70261': 161,
 '58359': 162,
 'STN Dover': 163,
 '60261': 164,
 '76099': 165,
 '53039': 166,
 '59051': 167,
 '67141': 168,
 '53149': 169,
 '10171': 170,
 '64579': 171,
 '10161': 172,
 '92061': 173,
 '54101': 174,
 '64009': 175,
 '59459': 176,
 '84069': 177,
 '67209': 178,
 '53271': 179,
 '63381': 180,
 '52201': 181,
 '63059': 182,
 '62051': 183,
 '77289': 184,
 'STN Tiong Bahru': 185,
 '92069': 186,
 '76369': 187,
 '44269': 188,
 '42229': 189,
 '54331': 190,
 '43431': 191,
 'STN Fajar': 192,
 '46329': 193,
 '46009': 194,
 '52031': 195,
 '14041': 196,
 '75009': 197,
 '27141': 198,
 '11161': 199,
 '59239': 200,
 '63261': 201,
 '70021': 202,
 '28079': 203,
 '59109': 204,
 'STN Woodlands': 205,
 '65009': 206,
 '63079': 207,
 'STN Kovan': 208,
 '84679': 209,
 '58351': 210,
 '67499': 211,
 '59008': 212,
 '76241': 213,
 '70381': 214,
 '77051': 215,
 '27301': 216,
 '58251': 217,
 '46281': 218,
 '66331': 219,
 '66439': 220,
 '54009': 221,
 'STN Pending': 222,
 '78241': 223,
 '27451': 224,
 'STN Tanah Merah': 225,
 '55509': 226,
 '84019': 227,
 '52339': 228,
 '21371': 229,
 '54019': 230,
 '55121': 231,
 'STN Kangkar': 232,
 '21611': 233,
 '44459': 234,
 '52189': 235,
 'STN Choa Chu Kang': 236,
 '9212': 237,
 '50159': 238,
 '76089': 239,
 '80031': 240,
 '76109': 241,
 '10089': 242,
 '70119': 243,
 '63389': 244,
 '42191': 245,
 '75121': 246,
 '78201': 247,
 '28561': 248,
 '70391': 249,
 '11401': 250,
 '70211': 251,
 '17189': 252,
 '46871': 253,
 '27419': 254,
 '75059': 255,
 '43839': 256,
 '43009': 257,
 '46831': 258,
 '27331': 259,
 '62059': 260,
 '84469': 261,
 '54371': 262,
 '46521': 263,
 '43681': 264,
 '67271': 265,
 'STN Commonwealth': 266,
 '20129': 267,
 '21431': 268,
 '70059': 269,
 '42051': 270,
 '76091': 271,
 '46619': 272,
 '10389': 273,
 'STN Bukit Gombak': 274,
 '66029': 275,
 '44689': 276,
 '84231': 277,
 '58299': 278,
 '84339': 279,
 '46649': 280,
 'STN Marsiling': 281,
 '54209': 282,
 '58349': 283,
 '44259': 284,
 '66339': 285,
 '59091': 286,
 '52429': 287,
 'STN Redhill': 288,
 '52369': 289,
 '64041': 290,
 '45411': 291,
 '93061': 292,
 '46691': 293,
 '78059': 294,
 '52109': 295,
 'STN Jelapang': 296,
 '60269': 297,
 '64411': 298,
 '43249': 299,
 '28511': 300,
 '66539': 301,
 '64361': 302,
 '70151': 303,
 '82009': 304,
 '22521': 305,
 '64051': 306,
 '43419': 307,
 '17269': 308,
 '22459': 309,
 '43189': 310,
 '46179': 311,
 'STN Tongkang': 312,
 '27369': 313,
 '64429': 314,
 '84061': 315,
 '76061': 316,
 '54329': 317,
 '92101': 318,
 '61101': 319,
 '66419': 320,
 '10241': 321,
 '78079': 322,
 '7211': 323,
 'STN Kembangan': 324,
 '43089': 325,
 '85091': 326,
 '13081': 327,
 '60121': 328,
 '54319': 329,
 '59209': 330,
 '83119': 331,
 'STN Sengkang': 332,
 '64101': 333,
 '83111': 334,
 '58409': 335,
 '55129': 336,
 '50349': 337,
 '10209': 338,
 '53129': 339,
 '65031': 340,
 '12031': 341,
 '21591': 342,
 '76429': 343,
 '84009': 344,
 '92249': 345,
 '52371': 346,
 '92071': 347,
 '84449': 348,
 '53009': 349,
 '93089': 350,
 '10599': 351,
 '46279': 352,
 '75279': 353,
 '98109': 354,
 '70191': 355,
 '20109': 356,
 '43059': 357,
 'STN Boon Lay': 358,
 '84109': 359,
 '55181': 360,
 '96189': 361,
 '84041': 362,
 '54489': 363,
 '44509': 364,
 '84401': 365,
 '70019': 366,
 '22249': 367,
 '21581': 368,
 '84491': 369,
 '5519': 370,
 '75071': 371,
 '76361': 372,
 '84341': 373,
 '70181': 374,
 '14389': 375,
 '44231': 376,
 '41049': 377,
 '21441': 378,
 '50249': 379,
 '22441': 380,
 '64611': 381,
 'STN Clarke Quay': 382,
 '64029': 383,
 '83301': 384,
 '64629': 385,
 'STN Lorong Chuan': 386,
 'STN Senja': 387,
 '46779': 388,
 '62141': 389,
 '52439': 390,
 '54481': 391,
 '20101': 392,
 '66411': 393,
 '52079': 394,
 '28431': 395,
 '50991': 396,
 'STN Chinatown': 397,
 '76071': 398,
 '58101': 399,
 '10041': 400,
 '14281': 401,
 '76221': 402,
 '51081': 403,
 '28081': 404,
 'STN South VIEW': 405,
 '40109': 406,
 '55171': 407,
 'STN Khatib': 408,
 '63299': 409,
 '44469': 410,
 '59369': 411,
 'STN Jurong East': 412,
 'STN Cove': 413,
 '53351': 414,
 '64601': 415,
 '67409': 416,
 '10181': 417,
 '46088': 418,
 '27279': 419,
 '43679': 420,
 '11059': 421,
 '21651': 422,
 'STN Harbour Front': 423,
 '84521': 424,
 '45401': 425,
 '84251': 426,
 '46241': 427,
 '54299': 428,
 'STN Paya Lebar': 429,
 'STN Kallang': 430,
 '78051': 431,
 'STN Meridian': 432,
 '1121': 433,
 '17171': 434,
 '53281': 435,
 '54261': 436,
 '55131': 437,
 'STN Bishan': 438,
 '64039': 439,
 '75231': 440,
 '55019': 441,
 '44569': 442,
 '75351': 443,
 '84059': 444,
 '64091': 445,
 '46441': 446,
 '43081': 447,
 '59161': 448,
 '43571': 449,
 '15229': 450,
 '66051': 451,
 '22499': 452,
 '11191': 453,
 '10399': 454,
 '14399': 455,
 '46851': 456,
 '52181': 457,
 '66309': 458,
 '56251': 459,
 '50321': 460,
 '77301': 461,
 '54199': 462,
 '78069': 463,
 '58321': 464,
 '42319': 465,
 '71101': 466,
 '92041': 467,
 '27401': 468,
 '28499': 469,
 '28621': 470,
 '10201': 471,
 '22239': 472,
 '59111': 473,
 '54239': 474,
 '21451': 475,
 'STN Bedok': 476,
 '82061': 477,
 '44289': 478,
 'STN Rumbia': 479,
 '43169': 480,
 '66551': 481,
 '64241': 482,
 '96259': 483,
 '12109': 484,
 '45271': 485,
 '67199': 486,
 '46661': 487,
 '84529': 488,
 '46761': 489,
 '14171': 490,
 '59441': 491,
 '67279': 492,
 '92131': 493,
 '76211': 494,
 '64359': 495,
 '28529': 496,
 'STN Newton': 497,
 '67171': 498,
 '81119': 499,
 '75079': 500,
 '59041': 501,
 '53239': 502,
 '52099': 503,
 '47501': 504,
 '72041': 505,
 '52089': 506,
 '46069': 507,
 '8031': 508,
 '14029': 509,
 '60229': 510,
 '67481': 511,
 '76189': 512,
 'STN Lakeside': 513,
 '96251': 514,
 '50021': 515,
 '84369': 516,
 '43371': 517,
 '80051': 518,
 '21419': 519,
 '28421': 520,
 '59073': 521,
 '7351': 522,
 '64621': 523,
 '78119': 524,
 '14279': 525,
 '14179': 526,
 '66021': 527,
 '92231': 528,
 '44149': 529,
 '53359': 530,
 '64389': 531,
 'STN Novena': 532,
 '44461': 533,
 '46811': 534,
 '82131': 535,
 '57121': 536,
 '66031': 537,
 '27479': 538,
 '60179': 539,
 '46439': 540,
 '42071': 541,
 '27359': 542,
 '22231': 543,
 '70051': 544,
 '84391': 545,
 '27341': 546,
 '50211': 547,
 '61099': 548,
 '63031': 549,
 '67009': 550,
 '92081': 551,
 '78169': 552,
 '65249': 553,
 '91049': 554,
 '65151': 555,
 '13119': 556,
 '20191': 557,
 'STN Tampines': 558,
 '43619': 559,
 '52341': 560,
 '72019': 561,
 'STN Kent Ridge': 562,
 '66489': 563,
 '82032': 564,
 '66381': 565,
 '63239': 566,
 '46629': 567,
 '21551': 568,
 '20281': 569,
 'STN Compassvale': 570,
 '43739': 571,
 '83081': 572,
 '59309': 573,
 '78101': 574,
 '67191': 575,
 '50169': 576,
 '70149': 577,
 '76139': 578,
 '46841': 579,
 '10179': 580,
 '43181': 581,
 '76079': 582,
 'STN Petir': 583,
 '76219': 584,
 '43831': 585,
 '42091': 586,
 '66481': 587,
 '28471': 588,
 '54031': 589,
 '71099': 590,
 '78109': 591,
 '1311': 592,
 '54081': 593,
 '46341': 594,
 '17141': 595,
 '52349': 596,
 '27351': 597,
 'STN Bakau': 598,
 '42061': 599,
 '76101': 600,
 '80229': 601,
 'STN MacPherson': 602,
 '10189': 603,
 '59061': 604,
 '46331': 605,
 '5013': 606,
 '43309': 607,
 '82081': 608,
 '17239': 609,
 'STN HarbourFront': 610,
 'STN Braddell': 611,
 '43811': 612,
 '76259': 613,
 '43019': 614,
 '52331': 615,
 'STN Yio Chu Kang': 616,
 'STN Punggol': 617,
 '64121': 618,
 '77169': 619,
 '59409': 620,
 '46969': 621,
 '10021': 622,
 '46771': 623,
 '53371': 624,
 '11009': 625,
 '52171': 626,
 '7111': 627,
 '44399': 628,
 '15221': 629,
 'STN Queenstown': 630,
 '22451': 631,
 '54399': 632,
 '84139': 633,
 '80049': 634,
 '83261': 635,
 '63139': 636,
 '54291': 637,
 '67609': 638,
 '64351': 639,
 '63349': 640,
 '11189': 641,
 '61039': 642,
 'STN Kadaloor': 643,
 '54248': 644,
 '67259': 645,
 '44641': 646,
 '54381': 647,
 '82049': 648,
 '92211': 649,
 '44539': 650,
 '67461': 651,
 '84269': 652,
 'STN Eunos': 653,
 '44439': 654,
 'STN Labrador Park': 655,
 '76121': 656,
 '2151': 657,
 '92241': 658,
 '28331': 659,
 '10369': 660,
 '11381': 661,
 '11221': 662,
 '11019': 663,
 '76329': 664,
 '72061': 665,
 '77359': 666,
 'STN Buangkok': 667,
 '44679': 668,
 '44529': 669,
 '46251': 670,
 '84029': 671,
 '59179': 672,
 '84641': 673,
 '17251': 674,
 '13051': 675,
 '76069': 676,
 '28389': 677,
 '59311': 678,
 '54229': 679,
 '20211': 680,
 '54349': 681,
 '84149': 682,
 '46551': 683,
 '67251': 684,
 '28639': 685,
 '78061': 686,
 '40051': 687,
 '1039': 688,
 'STN Farrer Road': 689,
 '67021': 690,
 '53299': 691,
 '46171': 692,
 'STN Renjong': 693,
 '10299': 694,
 '63011': 695,
 '58411': 696,
 '46008': 697,
 '14379': 698,
 '81111': 699,
 '67269': 700,
 '65221': 701,
 '60119': 702,
 '47599': 703,
 '27379': 704,
 '59249': 705,
 '62179': 706,
 '54321': 707,
 '46411': 708,
 '84381': 709,
 'STN Bugis': 710,
 '46291': 711,
 '59591': 712,
 '6129': 713,
 '78191': 714,
 '64469': 715,
 '20239': 716,
 '50038': 717,
 '20261': 718,
 'STN Dhoby Ghaut': 719,
 '82109': 720,
 '42151': 721,
 '78171': 722,
 '53381': 723,
 '10101': 724,
 '96169': 725,
 '77251': 726,
 '12131': 727,
 '43239': 728,
 '27159': 729,
 '57111': 730,
 '59581': 731,
 '51049': 732,
 '17061': 733,
 '71111': 734,
 '27271': 735,
 '70309': 736,
 '46109': 737,
 '46501': 738,
 '83341': 739,
 '11491': 740,
 '21561': 741,
 '7529': 742,
 '28541': 743,
 '84409': 744,
 '52039': 745,
 '58281': 746,
 '76459': 747,
 '58341': 748,
 '65061': 749,
 '28009': 750,
 '51019': 751,
 '21379': 752,
 '84329': 753,
 '11039': 754,
 '97129': 755,
 '76421': 756,
 '67241': 757,
 '52191': 758,
 '63069': 759,
 '64449': 760,
 '52321': 761,
 '20189': 762,
 '64341': 763,
 '50209': 764,
 '81169': 765,
 '14329': 766,
 '59511': 767,
 '44521': 768,
 '21391': 769,
 '54601': 770,
 '17119': 771,
 '59149': 772,
 '28401': 773,
 '63271': 774,
 '47561': 775,
 '46531': 776,
 '40069': 777,
 '43351': 778,
 '81089': 779,
 '42059': 780,
 '82079': 781,
 '77259': 782,
 '84191': 783,
 '44141': 784,
 '76269': 785,
 '63221': 786,
 '20209': 787,
 '18119': 788,
 '84221': 789,
 '84301': 790,
 '59211': 791,
 '72031': 792,
 '22599': 793,
 '64399': 794,
 '22519': 795,
 '42241': 796,
 '46449': 797,
 'STN Coral Edge': 798,
 '67299': 799,
 '84101': 800,
 '44621': 801,
 '66041': 802,
 '54269': 803,
 '55189': 804,
 '46611': 805,
 '46399': 806,
 '67329': 807,
 '59101': 808,
 '64461': 809,
 '60141': 810,
 '67139': 811,
 '77331': 812,
 '64011': 813,
 '47619': 814,
 '67011': 815,
 '81201': 816,
 '59391': 817,
 '14299': 818,
 '77049': 819,
 '43029': 820,
 '96299': 821,
 '54609': 822,
 '20059': 823,
 '43731': 824,
 '67601': 825,
 '42249': 826,
 '84229': 827,
 '52129': 828,
 '54411': 829,
 '82029': 830,
 '45139': 831,
 '67289': 832,
 '76359': 833,
 '67211': 834,
 '43449': 835,
 '52239': 836,
 '64129': 837,
 '44651': 838,
 '17259': 839,
 '82069': 840,
 '64111': 841,
 '95129': 842,
 '67511': 843,
 '11149': 844,
 '54471': 845,
 'STN Buona Vista': 846,
 '42159': 847,
 '84049': 848,
 '43579': 849,
 '59359': 850,
 '64609': 851,
 '10289': 852,
 'STN Tanjong Pagar': 853,
 'STN Ranggung': 854,
 '64119': 855,
 '46539': 856,
 '84629': 857,
 '97051': 858,
 '59079': 859,
 '94051': 860,
 '67341': 861,
 '12069': 862,
 '63359': 863,
 '17041': 864,
 '53221': 865,
 '21459': 866,
 '10199': 867,
 '1129': 868,
 '27099': 869,
 '75099': 870,
 '46219': 871,
 '63039': 872,
 '84671': 873,
 '65079': 874,
 '10081': 875,
 '28099': 876,
 '28539': 877,
 '10099': 878,
 '54351': 879,
 '54241': 880,
 '16019': 881,
 '75101': 882,
 '82011': 883,
 '16061': 884,
 '50239': 885,
 '59469': 886,
 '53061': 887,
 '43461': 888,
 '21421': 889,
 '43509': 890,
 '72011': 891,
 '43131': 892,
 '55109': 893,
 '59499': 894,
 '62139': 895,
 '93079': 896,
 '59072': 897,
 '19039': 898,
 '46789': 899,
 '21241': 900,
 '65021': 901,
 '57129': 902,
 '21559': 903,
 '11359': 904,
 '72021': 905,
 '28091': 906,
 '59139': 907,
 '44301': 908,
 '71139': 909,
 '64071': 910,
 '45351': 911,
 '28469': 912,
 '63279': 913,
 '14209': 914,
 '52279': 915,
 '52271': 916,
 '80279': 917,
 '81171': 918,
 '12021': 919,
 '41061': 920,
 '1319': 921,
 '67119': 922,
 '42169': 923,
 '65029': 924,
 '84569': 925,
 '63241': 926,
 '52081': 927,
 '77291': 928,
 '63249': 929,
 '60139': 930,
 '59449': 931,
 '76201': 932,
 '53391': 933,
 '54409': 934,
 '42111': 935,
 '43267': 936,
 '63361': 937,
 '66101': 938,
 '11141': 939,
 '44089': 940,
 '44251': 941,
 '81161': 942,
 '46971': 943,
 '11181': 944,
 '46659': 945,
 'STN Joo Koon': 946,
 '54231': 947,
 '54501': 948,
 '84209': 949,
 '76199': 950,
 '93129': 951,
 '28379': 952,
 '62149': 953,
 'STN Raffles Place': 954,
 '46999': 955,
 '27349': 956,
 '84631': 957,
 '27381': 958,
 '55119': 959,
 '54571': 960,
 'STN Orchard': 961,
 '76129': 962,
 '76209': 963,
 '10501': 964,
 '52059': 965,
 '75341': 966,
 '76281': 967,
 'STN Dakota': 968,
 '50231': 969,
 '42149': 970,
 '78151': 971,
 '55179': 972,
 '12139': 973,
 '59261': 974,
 '55141': 975,
 '67051': 976,
 'STN Damai': 977,
 '83299': 978,
 'STN Phoenix': 979,
 '14169': 980,
 '44491': 981,
 '41029': 982,
 '43161': 983,
 '84661': 984,
 '80069': 985,
 '84031': 986,
 '70121': 987,
 '28249': 988,
 '54579': 989,
 '59319': 990,
 '28521': 991,
 '92109': 992,
 '28391': 993,
 '53231': 994,
 '52051': 995,
 '58371': 996,
 'STN City Hall': 997,
 'STN Bukit Batok': 998,
 'STN Simei': 999,
 '46641': 1000,
 ...}

## Calculate the correlations under different time slices

In [61]:
# Sort the time into different time intervals
# Firstly, convert the time slice into timestamps
test='2012-03-19 12:45:00.980'
testS=time.strptime(test[:-4],'%Y-%m-%d %H:%M:%S')
print(testS)
print(time.mktime(testS))
chunk['boarding_time']=chunk['boarding_time'].apply(lambda x:time.mktime(time.strptime(x[:-4],'%Y-%m-%d %H:%M:%S')))
chunk['boarding_time']

time.struct_time(tm_year=2012, tm_mon=3, tm_mday=19, tm_hour=12, tm_min=45, tm_sec=0, tm_wday=0, tm_yday=79, tm_isdst=-1)
1332132300.0

0        1.332138e+09
1        1.332147e+09
2        1.332112e+09
3        1.332146e+09
4        1.332154e+09
5        1.332141e+09
6        1.332113e+09
7        1.332147e+09
8        1.332145e+09
9        1.332138e+09
10       1.332145e+09
11       1.332111e+09
12       1.332111e+09
13       1.332148e+09
14       1.332145e+09
15       1.332144e+09
16       1.332141e+09
17       1.332163e+09
18       1.332107e+09
19       1.332147e+09
20       1.332113e+09
21       1.332130e+09
22       1.332136e+09
23       1.332153e+09
24       1.332140e+09
25       1.332137e+09
26       1.332141e+09
27       1.332148e+09
28       1.332143e+09
29       1.332165e+09
             ...
99970    1.332117e+09
99971    1.332155e+09
99972    1.332157e+09
99973    1.332116e+09
99974    1.332110e+09
99975    1.332111e+09
99976    1.332115e+09
99977    1.332112e+09
99978    1.332118e+09
99979    1.332172e+09
99980    1.332121e+09
99981    1.332148e+09
99982    1.332116e+09
99983    1.332165e+09
99984    1.332172e+09
99985    1.332157e+09
99986    1.332123e+09
99987    1.332137e+09
99988    1.332151e+09
99989    1.332110e+09
99990    1.332151e+09
99991    1.332141e+09
99992    1.332152e+09
99993    1.332138e+09
99994    1.332137e+09
99995    1.332135e+09
99996    1.332120e+09
99997    1.332105e+09
99998    1.332130e+09
99999    1.332150e+09
Name: boarding_time, dtype: float64

In [58]:
# Timestamps range
ts_0319_s=int(time.mktime(time.strptime('2012-03-19 00:00:00','%Y-%m-%d %H:%M:%S')))
ts_0319_e=int(time.mktime(time.strptime('2012-03-19 23:59:59','%Y-%m-%d %H:%M:%S')))
ts_0320_s=time.mktime(time.strptime('2012-03-20 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0320_e=time.mktime(time.strptime('2012-03-20 23:59:59','%Y-%m-%d %H:%M:%S'))
ts_0321_s=time.mktime(time.strptime('2012-03-21 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0321_e=time.mktime(time.strptime('2012-03-21 23:59:59','%Y-%m-%d %H:%M:%S'))
ts_0322_s=time.mktime(time.strptime('2012-03-22 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0322_e=time.mktime(time.strptime('2012-03-22 23:59:59','%Y-%m-%d %H:%M:%S'))
ts_0323_s=time.mktime(time.strptime('2012-03-23 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0323_e=time.mktime(time.strptime('2012-03-23 23:59:59','%Y-%m-%d %H:%M:%S'))
ts_0324_s=time.mktime(time.strptime('2012-03-24 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0324_e=time.mktime(time.strptime('2012-03-24 23:59:59','%Y-%m-%d %H:%M:%S'))
ts_0325_s=time.mktime(time.strptime('2012-03-25 00:00:00','%Y-%m-%d %H:%M:%S'))
ts_0325_e=time.mktime(time.strptime('2012-03-25 23:59:59','%Y-%m-%d %H:%M:%S'))
print(ts_0319_e-ts_0319_s)
print(ts_0320_e-ts_0320_s)
print(ts_0321_e-ts_0321_s)
print(ts_0322_e-ts_0322_s)
print(ts_0323_e-ts_0323_s)
print(ts_0324_e-ts_0324_s)
print(ts_0325_e-ts_0325_s)

86399
86399.0
86399.0
86399.0
86399.0
86399.0
86399.0

In [53]:
def isInRange(target,start,end):
    return start<target<end

def getTimeIndex(target,startTimeStamp,endTimeStamp,timeIntervalSize):
    timeIntervals=np.linspace(startTimeStamp,endTimeStamp,timeIntervalSize+1)
    for i in range(len(timeIntervals)-1):
        if isInRange(target,timeIntervals[i],timeIntervals[i+1]):
            return i+1
    return -1 # if not in range

In [72]:
# Build feature dict for all stations
featureMat_0319=dict()
for value in stops_dict.values():
    featureMat_0319[str(value)]=np.zeros((2*len(stops_dict),timeIntervalSize))

In [84]:
%%time
# Convert timestamps with stops index
counter=1
timeIntervalSize=24
ds_0319_parser=pd.read_csv('data_processed/20120319 Data1.csv',low_memory=False, iterator=True)
loop=True
while loop:
    try:        
        chunk=ds_0319_parser.get_chunk(chunkSize)
        chunk['boarding_stop']=chunk['boarding_stop'].apply(lambda x:stops_dict[x])
        chunk['alighting_stop']=chunk['alighting_stop'].apply(lambda x:stops_dict[x])
        chunk['boarding_time']=chunk['boarding_time'].apply(lambda x:time.mktime(time.strptime(x[:-4],'%Y-%m-%d %H:%M:%S')))
        chunk['alighting_time']=chunk['alighting_time'].apply(lambda x:time.mktime(time.strptime(x[:-4],'%Y-%m-%d %H:%M:%S')))
        chunk['boarding_timeIdx']=chunk['boarding_time'].apply(lambda x:getTimeIndex(int(x),ts_0319_s,ts_0319_e,timeIntervalSize))
        chunk['alighting_timeIdx']=chunk['alighting_time'].apply(lambda x:getTimeIndex(int(x),ts_0319_s,ts_0319_e,timeIntervalSize))
        for index,row in chunk.iterrows():
            featureMat_0319[str(row['boarding_stop'])][len(stops_dict)+row['boarding_stop']-1][row['boarding_timeIdx']-1]+=1 #inflow
            featureMat_0319[str(row['boarding_stop'])][row['alighting_stop']-1][row['alighting_timeIdx']-1] +=1 #outflow
            featureMat_0319[str(row['alighting_stop'])][len(stops_dict)+row['alighting_stop']-1][row['alighting_timeIdx']-1] +=1 # Destination inflow if no tranfer
        print('No.',counter*chunkSize)
        counter+=1
    except StopIteration:
        print("Iteration Stop!")
        loop=False
        break

No. 100000
No. 200000
No. 300000
No. 400000
No. 500000
No. 600000
No. 700000
No. 800000
No. 900000
No. 1000000
No. 1100000
No. 1200000
No. 1300000
No. 1400000
No. 1500000
No. 1600000
No. 1700000
No. 1800000
No. 1900000
No. 2000000
No. 2100000
No. 2200000
No. 2300000
No. 2400000
No. 2500000
No. 2600000
No. 2700000
No. 2800000
No. 2900000
No. 3000000
No. 3100000
No. 3200000
No. 3300000
No. 3400000
No. 3500000
No. 3600000
No. 3700000
No. 3800000
No. 3900000
No. 4000000
No. 4100000
No. 4200000
No. 4300000
No. 4400000
No. 4500000
No. 4600000
No. 4700000
No. 4800000
No. 4900000
No. 5000000
No. 5100000
No. 5200000
No. 5300000
No. 5400000
Iteration Stop!
Wall time: 53min 3s

In [98]:
%%time
joblib.dump(featureMat_0319,'featureMat_0319.sav')

Wall time: 57.2 s

['featureMat_0319.sav']

In [99]:
import sys
print(sys.getsizeof(featureMat_0319))

147560

In [ ]:
%%time
featureMat_0320=dict()
for value in stops_dict.values():
    featureMat_0320[str(value)]=np.zeros((2*len(stops_dict),timeIntervalSize))
    
counter=1
timeIntervalSize=24
ds_0320_parser=pd.read_csv('data_processed/20120320 Data1.csv',low_memory=False, iterator=True)
loop=True
while loop:
    try:        
        chunk=ds_0320_parser.get_chunk(chunkSize)
        chunk['boarding_stop']=chunk['boarding_stop'].apply(lambda x:stops_dict[x])
        chunk['alighting_stop']=chunk['alighting_stop'].apply(lambda x:stops_dict[x])
        chunk['boarding_time']=chunk['boarding_time'].apply(lambda x:time.mktime(time.strptime(x[:-4],'%Y-%m-%d %H:%M:%S')))
        chunk['alighting_time']=chunk['alighting_time'].apply(lambda x:time.mktime(time.strptime(x[:-4],'%Y-%m-%d %H:%M:%S')))
        chunk['boarding_timeIdx']=chunk['boarding_time'].apply(lambda x:getTimeIndex(int(x),ts_0320_s,ts_0320_e,timeIntervalSize))
        chunk['alighting_timeIdx']=chunk['alighting_time'].apply(lambda x:getTimeIndex(int(x),ts_0320_s,ts_0320_e,timeIntervalSize))
        for index,row in chunk.iterrows():
            featureMat_0320[str(row['boarding_stop'])][len(stops_dict)+row['boarding_stop']-1][row['boarding_timeIdx']-1]+=1 #inflow
            featureMat_0320[str(row['boarding_stop'])][row['alighting_stop']-1][row['alighting_timeIdx']-1] +=1 #outflow
            featureMat_0320[str(row['alighting_stop'])][len(stops_dict)+row['alighting_stop']-1][row['alighting_timeIdx']-1] +=1 # Destination inflow if no tranfer
        print('No.',counter*chunkSize)
        counter+=1
    except StopIteration:
        print("Iteration Stop!")
        loop=False
        break
        
joblib.dump(featureMat_0320,'featureMat_0320.sav')