In [1]:
import numpy as np
import pandas as pd
import csv
import time,datetime
from matplotlib import pyplot as plt
from tqdm import tqdm_notebook
import pickle
from sklearn.externals import joblib
from scipy import spatial
%matplotlib inline

In [3]:
ds_0319_parser=pd.read_csv('data_processed/20120319 Data1.csv',low_memory=False, iterator=True)
ds_0319_process_parser=pd.read_csv('data_processed/20120319 Data_Merging.csv',low_memory=False, iterator=True)

In [4]:
chunk1=ds_0319_parser.get_chunk(100)
chunk2=ds_0319_process_parser.get_chunk(100)

In [5]:
chunk1

,journey_id,card_id,passenger_type,mode,bus_line,direction,bus_reg,boarding_stop,alighting_stop,riding_date,boarding_time,riding_distance,riding_time,transfer,riding_time_convert,alighting_time,day
0,104342063996,2000029991201000,Child/Student,RTS,\N,\N,\N,STN Ang Mo Kio,STN Choa Chu Kang,19/03/2012,2012-03-19 14:15:53.000,23.7,52.767,0,0 days 00:52:46.020000000,2012-03-19 15:08:39.020,Monday
1,104347264470,2000084766310800,Child/Student,RTS,\N,\N,\N,STN Segar,STN Bukit Panjang,19/03/2012,2012-03-19 16:55:29.000,1.9,8.250,0,0 days 00:08:15.000000000,2012-03-19 17:03:44.000,Monday
2,104337460089,2000040823741000,Child/Student,RTS,\N,\N,\N,STN Pasir Ris,STN Bedok,19/03/2012,2012-03-19 07:00:54.000,8.2,17.800,1,0 days 00:17:48.000000000,2012-03-19 07:18:42.000,Monday
3,104348478341,2000110340160800,Child/Student,RTS,\N,\N,\N,STN Yew Tee,STN Choa Chu Kang,19/03/2012,2012-03-19 16:39:06.000,1.4,3.250,0,0 days 00:03:15.000000000,2012-03-19 16:42:21.000,Monday
4,104350771884,2000016576131000,Child/Student,Bus,26,1,8370,80101,60229,19/03/2012,2012-03-19 18:48:49.000,2.1,8.017,1,0 days 00:08:01.020000000,2012-03-19 18:56:50.020,Monday
5,104351959102,2000088565810800,Child/Student,Bus,961,1,156,41079,10139,19/03/2012,2012-03-19 15:15:26.000,6.8,19.533,0,0 days 00:19:31.980000000,2012-03-19 15:34:57.980,Monday
6,104347364329,2000072167180800,Child/Student,RTS,\N,\N,\N,STN Yishun,STN Choa Chu Kang,19/03/2012,2012-03-19 07:28:13.000,16.0,26.083,0,0 days 00:26:04.980000000,2012-03-19 07:54:17.980,Monday
7,104344452279,2000072761190800,Child/Student,Bus,171,1,51,59009,59111,19/03/2012,2012-03-19 16:49:45.000,1.2,5.033,0,0 days 00:05:01.980000000,2012-03-19 16:54:46.980,Monday
8,104336773003,2000102795490800,Child/Student,Bus,66,0,6070,42029,40049,19/03/2012,2012-03-19 16:13:04.000,6.0,17.067,0,0 days 00:17:04.020000000,2012-03-19 16:30:08.020,Monday
9,104337056371,2000041088141000,Child/Student,Bus,187,0,562,43499,44131,19/03/2012,2012-03-19 14:20:57.000,2.5,7.533,0,0 days 00:07:31.980000000,2012-03-19 14:28:28.980,Monday
10,104351961874,2000137330830800,Child/Student,Bus,222,1,6061,84359,84221,19/03/2012,2012-03-19 16:19:23.000,0.5,1.633,0,0 days 00:01:37.980000000,2012-03-19 16:21:00.980,Monday
11,104334965299,2000102323320800,Child/Student,RTS,\N,\N,\N,STN Serangoon,STN Bartley,19/03/2012,2012-03-19 06:46:24.000,1.3,7.067,0,0 days 00:07:04.020000000,2012-03-19 06:53:28.020,Monday
12,104342976721,2000021432051000,Child/Student,Bus,178,0,809,21199,43179,19/03/2012,2012-03-19 06:57:19.000,9.7,30.183,0,0 days 00:30:10.980000000,2012-03-19 07:27:29.980,Monday
13,104347645352,2000041720101000,Child/Student,Bus,135,1,2689,70241,70051,19/03/2012,2012-03-19 17:11:41.000,1.4,7.117,0,0 days 00:07:07.020000000,2012-03-19 17:18:48.020,Monday
14,104339462293,2000086008410800,Child/Student,Bus,195,1,822,13089,14291,19/03/2012,2012-03-19 16:18:12.000,4.6,17.383,0,0 days 00:17:22.980000000,2012-03-19 16:35:34.980,Monday
15,104350961427,2000054867690800,Child/Student,RTS,\N,\N,\N,STN Ang Mo Kio,STN Novena,19/03/2012,2012-03-19 16:01:50.000,5.9,13.050,0,0 days 00:13:03.000000000,2012-03-19 16:14:53.000,Monday
16,104338276196,1991006890681100,Child/Student,Bus,169,1,1228,54221,54009,19/03/2012,2012-03-19 15:11:13.000,1.3,5.950,0,0 days 00:05:57.000000000,2012-03-19 15:17:10.000,Monday
17,104346957185,2000083500930800,Child/Student,RTS,\N,\N,\N,STN Clementi,STN Pioneer,19/03/2012,2012-03-19 21:24:52.000,9.1,16.817,0,0 days 00:16:49.020000000,2012-03-19 21:41:41.020,Monday
18,104339262287,2000084039480800,Child/Student,Bus,157,0,8936,28519,52361,19/03/2012,2012-03-19 05:45:55.000,19.0,49.850,0,0 days 00:49:51.000000000,2012-03-19 06:35:46.000,Monday
19,104346880736,2000087606790800,Child/Student,Bus,302,1,1117,45421,45329,19/03/2012,2012-03-19 16:42:58.000,0.9,3.917,0,0 days 00:03:55.020000000,2012-03-19 16:46:53.020,Monday
20,104334773146,2000123022150800,Child/Student,Bus,87,0,7651,67219,67209,19/03/2012,2012-03-19 07:15:13.000,0.4,1.817,0,0 days 00:01:49.020000000,2012-03-19 07:17:02.020,Monday
21,104346261922,2000020709811000,Child/Student,Bus,238,1,8112,52509,52311,19/03/2012,2012-03-19 12:04:47.000,1.0,2.783,1,0 days 00:02:46.980000000,2012-03-19 12:07:33.980,Monday
22,104339167383,2000054007650800,Child/Student,Bus,852,1,565,41041,42041,19/03/2012,2012-03-19 13:38:51.000,2.9,5.967,0,0 days 00:05:58.020000000,2012-03-19 13:44:49.020,Monday
23,104336411882,2000018886261000,Child/Student,Bus,812,1,1207,59089,59139,19/03/2012,2012-03-19 18:24:22.000,0.9,3.367,0,0 days 00:03:22.020000000,2012-03-19 18:27:44.020,Monday
24,104346476118,2000086273980800,Child/Student,Bus,113,1,5011,64031,64049,19/03/2012,2012-03-19 14:51:58.000,1.3,4.417,0,0 days 00:04:25.020000000,2012-03-19 14:56:23.020,Monday
25,104346554811,2000040742601000,Child/Student,Bus,13,1,8245,53389,53231,19/03/2012,2012-03-19 14:01:38.000,1.0,7.000,0,0 days 00:07:00.000000000,2012-03-19 14:08:38.000,Monday
26,104338652937,2000104455110800,Child/Student,Bus,178,1,119,43341,28249,19/03/2012,2012-03-19 15:08:28.000,2.6,6.367,0,0 days 00:06:22.020000000,2012-03-19 15:14:50.020,Monday
27,104336989300,2000032713201000,Child/Student,Bus,92,1,985,12129,11009,19/03/2012,2012-03-19 17:06:30.000,0.3,1.950,0,0 days 00:01:57.000000000,2012-03-19 17:08:27.000,Monday
28,104349570981,2000044366941000,Child/Student,Bus,29,1,8522,76399,76359,19/03/2012,2012-03-19 15:51:15.000,0.8,4.300,0,0 days 00:04:18.000000000,2012-03-19 15:55:33.000,Monday
29,104345453992,2000035630371000,Child/Student,RTS,\N,\N,\N,STN Sembawang,STN Ang Mo Kio,19/03/2012,2012-03-19 21:52:08.000,10.9,15.817,0,0 days 00:15:49.020000000,2012-03-19 22:07:57.020,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,104335090505,2000017841381000,Child/Student,Bus,16,0,6026,10009,10169,19/03/2012,2012-03-19 15:35:01.000,1.8,9.967,1,0 days 00:09:58.020000000,2012-03-19 15:44:59.020,Monday
71,104354775533,2000002411931000,Child/Student,Bus,187,1,844,43701,28091,19/03/2012,2012-03-19 13:56:22.000,5.7,19.417,0,0 days 00:19:25.020000000,2012-03-19 14:15:47.020,Monday
72,104334876820,2000079382230800,Child/Student,Bus,33,0,2600,18111,10169,19/03/2012,2012-03-19 13:31:35.000,6.5,18.817,0,0 days 00:18:49.020000000,2012-03-19 13:50:24.020,Monday
73,104351556911,2000020159011000,Child/Student,Bus,62,1,9678,70301,63279,19/03/2012,2012-03-19 06:42:16.000,3.1,10.467,0,0 days 00:10:28.020000000,2012-03-19 06:52:44.020,Monday
74,104340950537,2000125587510800,Child/Student,Bus,155,1,8819,81209,70211,19/03/2012,2012-03-19 15:29:37.000,3.2,11.450,0,0 days 00:11:27.000000000,2012-03-19 15:41:04.000,Monday
75,104349656894,2000056986040800,Child/Student,Bus,13,1,8412,54059,53389,19/03/2012,2012-03-19 15:38:49.000,2.3,9.867,0,0 days 00:09:52.020000000,2012-03-19 15:48:41.020,Monday
76,104351494288,2000137373750800,Child/Student,RTS,\N,\N,\N,STN Lavender,STN Pasir Ris,19/03/2012,2012-03-19 06:09:23.000,16.0,24.983,0,0 days 00:24:58.980000000,2012-03-19 06:34:21.980,Monday
77,104335577467,2000079322030800,Child/Student,Bus,173,1,754,42299,42111,19/03/2012,2012-03-19 15:58:47.000,2.4,11.400,0,0 days 00:11:24.000000000,2012-03-19 16:10:11.000,Monday
78,104346860363,2000081154370800,Child/Student,Bus,21,0,8470,52451,50169,19/03/2012,2012-03-19 06:46:05.000,2.6,10.000,0,0 days 00:10:00.000000000,2012-03-19 06:56:05.000,Monday
79,104351479707,2000086464690800,Child/Student,Bus,285,1,8882,17079,17251,19/03/2012,2012-03-19 15:16:03.000,1.1,4.783,0,0 days 00:04:46.980000000,2012-03-19 15:20:49.980,Monday
80,104341653262,2000101956020800,Child/Student,Bus,9,1,1964,98019,96161,19/03/2012,2012-03-19 06:41:40.000,3.0,16.133,0,0 days 00:16:07.980000000,2012-03-19 06:57:47.980,Monday
81,104349670188,2000138868990800,Child/Student,Bus,31,0,9835,60159,60119,19/03/2012,2012-03-19 19:30:51.000,0.8,2.850,0,0 days 00:02:51.000000000,2012-03-19 19:33:42.000,Monday
82,104344071725,2000020126461000,Child/Student,Bus,189,1,15,17179,17019,19/03/2012,2012-03-19 13:57:04.000,2.9,8.767,0,0 days 00:08:46.020000000,2012-03-19 14:05:50.020,Monday
83,104337447283,2000148357020800,Child/Student,Bus,76,1,7415,55159,55149,19/03/2012,2012-03-19 13:11:38.000,0.3,2.100,0,0 days 00:02:06.000000000,2012-03-19 13:13:44.000,Monday
84,104337460762,2000111268930800,Child/Student,Bus,82,1,2663,63051,64389,19/03/2012,2012-03-19 07:03:39.000,1.7,5.083,0,0 days 00:05:04.980000000,2012-03-19 07:08:43.980,Monday
85,104344690438,2000139092770800,Child/Student,Bus,232,1,8126,52179,52009,19/03/2012,2012-03-19 19:00:04.000,1.2,6.750,0,0 days 00:06:45.000000000,2012-03-19 19:06:49.000,Monday
86,104351862076,2000081470870800,Child/Student,Bus,155,1,5171,70039,70181,19/03/2012,2012-03-19 19:03:49.000,1.2,4.350,1,0 days 00:04:21.000000000,2012-03-19 19:08:10.000,Monday
87,104350752287,2000138286270800,Child/Student,Bus,124,1,8711,14291,14339,19/03/2012,2012-03-19 13:54:55.000,1.6,6.483,0,0 days 00:06:28.980000000,2012-03-19 14:01:23.980,Monday
88,104336152416,2000006047901000,Child/Student,Bus,812,1,1021,59281,59072,19/03/2012,2012-03-19 16:49:07.000,1.5,4.717,0,0 days 00:04:43.020000000,2012-03-19 16:53:50.020,Monday
89,104341683280,2000137939790800,Child/Student,Bus,43,1,6129,67441,67629,19/03/2012,2012-03-19 13:12:49.000,1.8,6.600,0,0 days 00:06:36.000000000,2012-03-19 13:19:25.000,Monday
90,104336072785,2000085491640800,Child/Student,Bus,307,1,215,44531,44421,19/03/2012,2012-03-19 18:28:18.000,2.1,9.567,0,0 days 00:09:34.020000000,2012-03-19 18:37:52.020,Monday
91,104335681118,2000031765471000,Child/Student,Bus,52,0,5003,28441,28641,19/03/2012,2012-03-19 19:39:16.000,1.2,6.833,0,0 days 00:06:49.980000000,2012-03-19 19:46:05.980,Monday
92,104344254519,2000139127200800,Child/Student,Bus,93,1,1962,11031,11051,19/03/2012,2012-03-19 06:51:52.000,1.1,3.133,0,0 days 00:03:07.980000000,2012-03-19 06:54:59.980,Monday
93,104346259148,2000083663820800,Child/Student,Bus,30,0,9497,21599,21569,19/03/2012,2012-03-19 18:00:15.000,0.8,2.767,0,0 days 00:02:46.020000000,2012-03-19 18:03:01.020,Monday
94,104355387436,2000141532800800,Child/Student,Bus,282,1,8061,17009,17259,19/03/2012,2012-03-19 14:14:50.000,1.9,7.733,0,0 days 00:07:43.980000000,2012-03-19 14:22:33.980,Monday
95,104345199685,2000038256800800,Child/Student,Bus,852,0,148,54011,59061,19/03/2012,2012-03-19 16:41:12.000,7.7,25.333,0,0 days 00:25:19.980000000,2012-03-19 17:06:31.980,Monday
96,104349153845,2000038267800800,Child/Student,Bus,265,1,8165,54181,56259,19/03/2012,2012-03-19 07:04:15.000,1.0,3.817,0,0 days 00:03:49.020000000,2012-03-19 07:08:04.020,Monday
97,104336764092,2000077742700800,Child/Student,Bus,261,1,5063,54389,54609,19/03/2012,2012-03-19 06:34:43.000,0.8,1.983,0,0 days 00:01:58.980000000,2012-03-19 06:36:41.980,Monday
98,104334721392,2000020229151000,Child/Student,Bus,88,0,5133,52009,52261,19/03/2012,2012-03-19 20:28:10.000,1.0,7.367,0,0 days 00:07:22.020000000,2012-03-19 20:35:32.020,Monday
99,104342266896,2000016681261000,Child/Student,Bus,28,0,9166,84021,84201,19/03/2012,2012-03-19 18:32:48.000,2.6,18.517,0,0 days 00:18:31.020000000,2012-03-19 18:51:19.020,Monday

In [6]:
chunk2

,journey_id,card_id,passenger_type,mode_0,bus_line_0,direction_0,bus_reg_0,boarding_stop_0,alighting_stop_0,boarding_time_0,...,boarding_stop_5,alighting_stop_5,boarding_time_5,riding_distance_5,riding_time_5,transfer_5,riding_time_convert_5,alighting_time_5,riding_date,day
0,104342063996,2000029991201000,Child/Student,RTS,\N,\N,\N,STN Ang Mo Kio,STN Choa Chu Kang,2012-03-19 14:15:53.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
1,104351959102,2000088565810800,Child/Student,Bus,961,1,156,41079,10139,2012-03-19 15:15:26.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
2,104347364329,2000072167180800,Child/Student,RTS,\N,\N,\N,STN Yishun,STN Choa Chu Kang,2012-03-19 07:28:13.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
3,104336773003,2000102795490800,Child/Student,Bus,66,0,6070,42029,40049,2012-03-19 16:13:04.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
4,104337056371,2000041088141000,Child/Student,Bus,187,0,562,43499,44131,2012-03-19 14:20:57.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
5,104351961874,2000137330830800,Child/Student,Bus,222,1,6061,84359,84221,2012-03-19 16:19:23.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
6,104334965299,2000102323320800,Child/Student,RTS,\N,\N,\N,STN Serangoon,STN Bartley,2012-03-19 06:46:24.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
7,104342976721,2000021432051000,Child/Student,Bus,178,0,809,21199,43179,2012-03-19 06:57:19.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
8,104347645352,2000041720101000,Child/Student,Bus,135,1,2689,70241,70051,2012-03-19 17:11:41.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
9,104339462293,2000086008410800,Child/Student,Bus,195,1,822,13089,14291,2012-03-19 16:18:12.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
10,104350961427,2000054867690800,Child/Student,RTS,\N,\N,\N,STN Ang Mo Kio,STN Novena,2012-03-19 16:01:50.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
11,104338276196,1991006890681100,Child/Student,Bus,169,1,1228,54221,54009,2012-03-19 15:11:13.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
12,104346957185,2000083500930800,Child/Student,RTS,\N,\N,\N,STN Clementi,STN Pioneer,2012-03-19 21:24:52.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
13,104339262287,2000084039480800,Child/Student,Bus,157,0,8936,28519,52361,2012-03-19 05:45:55.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
14,104346880736,2000087606790800,Child/Student,Bus,302,1,1117,45421,45329,2012-03-19 16:42:58.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
15,104339167383,2000054007650800,Child/Student,Bus,852,1,565,41041,42041,2012-03-19 13:38:51.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
16,104336411882,2000018886261000,Child/Student,Bus,812,1,1207,59089,59139,2012-03-19 18:24:22.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
17,104346476118,2000086273980800,Child/Student,Bus,113,1,5011,64031,64049,2012-03-19 14:51:58.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
18,104338652937,2000104455110800,Child/Student,Bus,178,1,119,43341,28249,2012-03-19 15:08:28.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
19,104349570981,2000044366941000,Child/Student,Bus,29,1,8522,76399,76359,2012-03-19 15:51:15.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
20,104346772719,2000028164201000,Child/Student,Bus,315,1,8983,66059,66421,2012-03-19 18:11:01.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
21,104354644535,1991008607761100,Child/Student,Bus,101,1,6093,64619,64349,2012-03-19 14:02:10.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
22,104345250829,2000031998361000,Child/Student,Bus,196,1,3020,19089,17189,2012-03-19 06:38:24.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
23,104351356867,2000102302540800,Child/Student,Bus,28,1,9452,62071,66089,2012-03-19 13:33:21.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
24,104350154763,2000104123960800,Child/Student,Bus,99,1,9253,27361,27141,2012-03-19 06:51:49.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
25,104345062611,2000016651021000,Child/Student,RTS,\N,\N,\N,STN Pasir Ris,STN Paya Lebar,2012-03-19 18:02:04.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
26,104354246018,2000080089010800,Child/Student,Bus,75,1,194,44201,13189,2012-03-19 08:21:24.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
27,104355568577,2000032014791000,Child/Student,Bus,858,1,130,46461,59119,2012-03-19 17:54:38.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
28,104341586948,2000086451080800,Child/Student,Bus,51,0,9683,20299,17069,2012-03-19 13:13:29.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
29,104354702754,2000071708240800,Child/Student,Bus,900,1,904,46391,46689,2012-03-19 15:20:14.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,104336764092,2000077742700800,Child/Student,Bus,261,1,5063,54389,54609,2012-03-19 06:34:43.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
71,104334721392,2000020229151000,Child/Student,Bus,88,0,5133,52009,52261,2012-03-19 20:28:10.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
72,104342266896,2000016681261000,Child/Student,Bus,28,0,9166,84021,84201,2012-03-19 18:32:48.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
73,104354375016,2000029766691000,Child/Student,Bus,334,1,6069,28491,28541,2012-03-19 14:58:25.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
74,104343951964,2000018301001000,Child/Student,Bus,17,1,9316,76231,78101,2012-03-19 16:23:55.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
75,104368858388,2000052874660800,Child/Student,Bus,228,1,930,84511,84529,2012-03-19 18:07:42.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
76,104348168812,2000087038140800,Child/Student,RTS,\N,\N,\N,STN Somerset,STN Ang Mo Kio,2012-03-19 16:49:39.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
77,104345885976,2000139770100800,Child/Student,Bus,51,0,9683,20299,17069,2012-03-19 13:13:29.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
78,104340669066,2000011042721000,Child/Student,RTS,\N,\N,\N,STN Potong Pasir,STN Serangoon,2012-03-19 06:43:42.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
79,104354369756,2000101794200800,Child/Student,Bus,3,0,8668,65261,65169,2012-03-19 15:02:21.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
80,104344496369,2000010957981000,Child/Student,Bus,293,1,994,75339,76051,2012-03-19 16:42:14.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
81,104336070339,2000148720750800,Child/Student,Bus,912,1,1129,46669,46008,2012-03-19 13:19:33.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
82,104346063569,2000029961861000,Child/Student,Bus,119,1,8616,64059,64049,2012-03-19 14:25:47.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
83,104342687216,2000010755201000,Child/Student,Bus,99,1,1954,21711,27341,2012-03-19 16:10:19.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
84,104334954390,2000107920640800,Child/Student,Bus,187,0,846,21699,28099,2012-03-19 07:10:56.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
85,104354472816,2000044165831000,Child/Student,Bus,143,0,7457,20179,20299,2012-03-19 06:11:14.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
86,104350168568,2000133661530800,Child/Student,Bus,161,1,9241,67449,46009,2012-03-19 06:04:10.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
87,104348659667,2000135351980800,Child/Student,Bus,293,1,8686,75329,75101,2012-03-19 13:40:38.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
88,104346686972,2000102906780800,Child/Student,Bus,174,0,3062,9022,42171,2012-03-19 16:38:49.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
89,104335949333,2000021140331000,Child/Student,Bus,133,1,8240,66389,61019,2012-03-19 18:22:48.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
90,104341676407,2000069044060800,Child/Student,Bus,31,0,8840,81181,92041,2012-03-19 19:15:08.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
91,104356070728,2000029890811000,Child/Student,Bus,966,1,191,60069,52079,2012-03-19 13:41:46.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
92,104342856081,2000136165340800,Child/Student,Bus,187,1,660,44239,43491,2012-03-19 17:56:07.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
93,104345550244,2000005640901000,Child/Student,Bus,85,1,2760,67131,67449,2012-03-19 06:38:08.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
94,104341161225,2000103170270800,Child/Student,Bus,147,1,7328,64369,63219,2012-03-19 13:25:56.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
95,104348782364,2000101937680800,Child/Student,Bus,315,1,8984,66319,66431,2012-03-19 06:47:38.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
96,104336952882,2000019390331000,Child/Student,Bus,186,1,8917,50161,50991,2012-03-19 15:10:28.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
97,104353479932,2000077232560800,Child/Student,Bus,966,1,529,92271,83101,2012-03-19 15:49:15.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
98,104344057880,2000003070801000,Child/Student,Bus,811,1,30,59201,59171,2012-03-19 16:39:06.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday
99,104352884877,2000103571300800,Child/Student,Bus,187,0,840,43709,43489,2012-03-19 16:11:09.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/03/2012,Monday